.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Quill Styling */
.quill-wrapper{
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 0;
  background-color: #f3f3f3;
}
.editor-container .ql-editor{
  width: 8.5in;
  min-height: 11in;
  padding: 1in;
  margin: 1rem;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  background-color: white;
 }
 .title-container-for-doc{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
 }
.ql-container.ql-snow{
  border:none;
  display:flex;
  justify-content: center;
}
.ql-toolbar.ql-snow{
  display:flex;
  justify-content: center;
  position: sticky;
  background-color: white;
  border: 1px solid black;
  top:0;
  z-index: 1;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}